.customer-list {
  &__table {
    padding: .5rem;

    table {
      width: 100%;

      .mat-column-firstName {
        width: 30%;
      }

      .mat-column-lastName {
        width: 30%;
      }

      .mat-column-email {
        width: 25%;
      }

      .mat-column-actions {
        text-align: center;
        padding: .25rem;
        width: 15%;
      }

      & + .mat-card {
        border-radius: 0;
        color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
      }
    }
  }
  
  &__toolbar {
    padding: .5rem;
  }

  &__filter {
    padding: .5rem;

    .mat-form-field {
      width: 100%;
    }
  }
}