.customer-form {
    position: relative;
    padding: 16px;

    > form {
      display: flex;
      flex-direction: column;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    }

    .mat-form-field {
        width: 100%;
    }
}
